<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>MyFirstPageJSF</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description>servlet for login validation </description>
		<display-name>AlcoholicControllerServlet</display-name>
		<servlet-name>AlcoholicControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.AlcoholicControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>AlcoholicControllerServlet</servlet-name>
	<url-pattern>/alcoholiccontrollerservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet for login validation </description>
		<display-name>PsychologistControllerServlet</display-name>
		<servlet-name>PsychologistControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.PsychologistControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>PsychologistControllerServlet</servlet-name>
	<url-pattern>/psychologistcontrollerservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet for login validation </description>
		<display-name>AdmiControllerServlet</display-name>
		<servlet-name>AdmiControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.AdmiControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>AdmiControllerServlet</servlet-name>
	<url-pattern>/admicontrollerservlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<description>servlet for login validation </description>
		<display-name>GeneralControllerServlet</display-name>
		<servlet-name>GeneralControllerServlet</servlet-name>
		<servlet-class>co.edu.unbosque.controller.GeneralControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>GeneralControllerServlet</servlet-name>
	<url-pattern>/generalControllerServlet</url-pattern>
	</servlet-mapping>
	
</web-app>